@import "projects/common/src/assets/scss/theme";

h4 {
	a {
		color: $theme-primary;
		text-decoration: underline;
	}

	small {
		margin-left: 0.5em;
		font-size: 0.6em;
		color: $theme-grey-light;
	}

}

.post {
	border: 2px solid #a7a7a7;
	margin: 4em auto;
	border-radius: 10px;

}

:host > div {
	position: relative;
}

.category {
	a {
		color: $theme-primary;

		&:hover {
			color: $theme-primary-light;
		}
	}

	position: absolute;
	bottom: 10px;
	right: 20px;
}

hr {
	margin-top: 2em;
}
